body{
  font-family: Arial;
  background:#f4f6ff;
  padding:20px;
}
h1{text-align:center;}
.card{
  background:white;
  padding:20px;
  margin:20px auto;
  max-width:600px;
  border-radius:8px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
input{padding:8px;width:60%;}
button{padding:8px 12px;margin-left:5px;}
pre{background:#eef1ff;padding:10px;border-radius:6px;}
